@page "/login"


<PageTitle>Entrar</PageTitle>

@if (AuthenticationViewModel.IsBusy)
{
    <SfSpinner
        @bind-Visible="@AuthenticationViewModel.IsBusy"
        Label="Carregando, aguarde..."
        Size="40" >
    </SfSpinner>
}
else
{
    <div
        class="justify-content-center align-items-center h-100 w-100" >
        <div
            class="login-container" >

            <h6>
                Novo por aqui?
                <a
                    href="/register"
                    style="color: #0a53be" >
                    Clique aqui
                </a> para se cadastrar!
            </h6>


            <div
                class="login-form" >
                <EditForm
                    Model="@AuthenticationViewModel.AutenticationRequest"
                    OnValidSubmit="HandleValidSubmit"
                    OnInvalidSubmit="OnInvalidSubmit" >
                    <DataAnnotationsValidator/>
                    <div
                        class="form-group" >
                        <SfTextBox
                            Enabled="@(!AuthenticationViewModel.IsBusy)"
                            FloatLabelType="FloatLabelType.Auto"
                            Placeholder="Email"
                            Type="InputType.Email"
                            @bind-Value="@AuthenticationViewModel.AutenticationRequest.Login" >
                        </SfTextBox>

                        <ValidationMessage
                            For="@(() => AuthenticationViewModel.AutenticationRequest.Login)"/>

                        <SfTextBox
                            Enabled="@(!AuthenticationViewModel.IsBusy)"
                            FloatLabelType="FloatLabelType.Auto"
                            Placeholder="Senha"
                            Type="InputType.Password"
                            @bind-Value="@AuthenticationViewModel.AutenticationRequest.Senha" >
                        </SfTextBox>

                        <ValidationMessage
                            For="@(() => AuthenticationViewModel.AutenticationRequest.Senha)"/>

                    </div>
                    
                    
        @if (_displayValidationErrorMessages)
        {
            <div
                class="col-md-4"
                style="margin-top:10px" >
                <label>Validation Messages: </label>
                <ValidationSummary/>
            </div>
        }
                    
                    <div
                        class="d-flex"
                        style="padding-top: 10px; width: 100%" >
                        <SfProgressButton
                            Content="Entrar"
                            IsPrimary="true"
                            CssClass="mp-button"
                            EnableProgress="@AuthenticationViewModel.IsBusy" >
                            <ProgressButtonSpinSettings
                                Position="SpinPosition.Right" >
                            </ProgressButtonSpinSettings>
                        </SfProgressButton>

                    </div>
                </EditForm>
            </div>

        </div>
    </div>
}